.root {
    -fx-background-color: #2c3e50;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #ffffff;
    -fx-border-color: #2980b9;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.combo-box {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-border-color: #2980b9;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-border-color: #2980b9;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #14496d;
}

#swapButton {
    -fx-background-color: #8e44ad;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

#swapButton:hover {
    -fx-background-color: #7b3c94;
}

.label {
    -fx-text-fill: #ecf0f1;
}

.resultLabel {
    -fx-text-fill: #e74c3c;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}
